@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
#encabezado{ /* empieza el header*/
    margin: 0 auto;
    max-width: 1570px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
p{
    padding: 5px;
}
p a{
    color: gray;
    text-decoration: none;
}
#enc1{
    font-size: small;
    display: flex;
}
#enc1 h4{
    font-weight: 700;
    font-size: larger;
    padding-right: 5px;
    color: black;
    border-bottom: 2px solid;
    border-color: grey;
}
#enc2{
    font-weight: 700;
    display: flex;
    align-items: center;
    color: black;
    padding: 6px;
    border: 1px solid black;
}                
 /*Termina el header*/

/*empieza el main*/
main{          
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1570px;
    margin: 0 auto;
}
/*las zapatillas*/
.producto h3{
    font-size: small;
    font-weight: 500;
    margin-top: -25px;
}
.producto h4{
    font-size: smaller;
    font-weight: 300;
    margin-top: -15px;
}
.producto{
    flex-direction: column;
}
.img-container{
    position:relative;
}
.producto .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.producto:hover .img-hover{
    opacity: 1;
    border: 1px solid;
}
.producto img{
    width: 100%;
}
.producto{
    margin-left: 5px;
}
/*precio*/
.producto .precio{
    position: relative;
    bottom: 30px;
    background-color: white;
    width: 50px;
    transition: all 0.4s ease-in-out;
}
.producto:hover .precio{
    bottom: 50px;
}
.producto .precio p{
    margin: 0;
    font-size: 0.7em;
}
img{   
    width: 385px;
    height: 385px;
}
/*footer*/
.logos{
    width: 35px;
    height: 35px;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    list-style: none;
}
footer{
    max-width: 1570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer p{
    font-size:larger;
    font-family: 'Barlow Condensed', sans-serif;
}